@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

/* .head {
  text-align: center;
  margin: 15px 20px 30px;
  background-color: grey;
  padding: 15px;
} */

body {
  position: relative;
  min-height: 100vh;

  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-color: #f09819;

  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);

  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 240px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
  pointer-events: none;
  opacity: 1;
}
.logo_content .logo i {
  font-size: 34px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 15px;
  font-weight: 400;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 25px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(red, green, blue, 0.5);
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
  z-index: 3;
}
.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.7 ease;
  top: 50%;
  opacity: 1;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #8bc6ec;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  padding-left: 50px;
  font-size: 18px;
}

.sidebar ul li .bx-search-alt {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}
.sidebar ul li .bx-search-alt:hover {
  background: #fff;
  color: #ff5858;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 10px;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  color: #11101d;
  background: #fff;
}

.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  font-size: 20px;
  width: 100%;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  transition: all 0.5s ease;
}

.sidebar.active .profile_content .profile {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img {
  height: 42px;
  width: 42px;
  border-radius: 10px;
  object-fit: cover;
}

.profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job {
  font-size: 12px;
  font-weight: 400;
}

.profile #log-out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s ease;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.sidebar.active .profile #log-out {
  left: 88%;
  background: none;
}

.home_content {
  position: absolute;
  width: calc(100% - 78px);
  height: 100%;
  left: 78px;
  /* top: 50px; */
  transition: all 0.5s ease;
}

.home_content .text {
  font-size: 25px;
  font-weight: 500;
  margin: 12px;
}

.sidebar.active ~ .home_content {
  width: calc(100%-240px);
  left: 240px;
}

.home_content .text .card a {
  /* position: relative; */
  font-size: 50px;
  background: #f09819;
  border-radius: 50px;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  color: #11101d;
}
.home_content .text .card a:hover {
  text-decoration: none;
  background: #fff;
  color: coral;
  transition: all 0.4s ease-in-out;
}

.home_content .text .card a:active {
  background: #ff5858;
  color: #fff;
}

.home_content .text .card ul {
  display: block;
  font-size: 20px;
  background: #f09819;
  border-radius: 25px;
  padding: 10px;
}

.home_content .text .card {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  border-radius: 25px;
  padding: 10px;
}

.home_content .text .card .header {
  background: #ff5858;
  border-radius: 25px;
  padding: 10px;
}

.btn a {
  display: inline-block;
  font-size: 20px;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  margin-left: 12px;
  margin-top: 20px;
  border-radius: 25px;
  padding: 10px;
  color: #11101d;
}

.btn a:hover {
  text-decoration: none;
  background: #fff;
  color: coral;
  transition: all 0.4s ease-in-out;
}
.btn a:active {
  background: #ff5858;
  color: #fff;
}
